@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

div#primary-menu ul li a {
    @apply text-sm text-cool-gray-600 font-medium;
}

div#primary-menu ul li.current-menu-item a {
    @apply font-semibold text-cool-gray-700;
}

a.more-link {
    display: none;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.prose {
    @apply text-cool-gray-600;
}

.mec-single-event-description.mec-events-content {
    @apply prose;
}

@screen sm {
    .mec-single-event-description.mec-events-content {
        @apply prose prose-sm;
    }
}

@screen lg {
    .mec-single-event-description.mec-events-content {
        @apply prose prose-lg;
    }
}