@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

div#primary-menu ul li a {
    @apply text-sm text-cool-gray-600 font-medium;
}

div#primary-menu ul li a:hover {
    @apply text-cool-gray-700;
}

div#primary-menu ul li.current-menu-item a {
    @apply font-semibold text-cool-gray-700;
}

a.more-link {
    display: none;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.prose {
    @apply text-cool-gray-700;
}

.mec-single-event-description.mec-events-content {
    @apply prose;
}

@screen sm {
    .mec-single-event-description.mec-events-content {
        @apply prose prose-sm;
    }
}

@screen lg {
    .mec-single-event-description.mec-events-content {
        @apply prose prose-lg;
    }
}

.prose a {
    @apply no-underline;
}

.prose p.my-0 {
    @apply my-0;
}

/* fix unorder list style with prose and block editor */

.entry-content ul:not(.block-editor-block-variation-picker__variations) li {
    list-style-type: none;
}

.entry-content .prose ol>li::marker {
    content: "";
}

/* test */

.modal-open {
  @apply overflow-hidden;
}

.modal-open .modal {
  @apply overflow-y-auto overflow-x-hidden;
}

.modal {
  @apply fixed top-0 left-0 hidden h-full w-full overflow-hidden outline-0;
  z-index: 1050;
}

.modal-dialog {
  @apply pointer-events-none relative w-auto m-2;
}

.modal.fade .modal-dialog {
    @apply transition ease-out duration-300;
    transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        @apply transition-none;
    }
}

.modal.show .modal-dialog {
    @apply transform-none;
}

.modal.modal-static .modal-dialog  {
    transform: scale(1.02);
}

.modal-dialog-scrollable {
    height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
    @apply max-h-full overflow-hidden;
}

.modal-dialog-scrollable .modal-body  {
    @apply overflow-y-auto;
}

.modal-dialog-centered  {
    @apply flex items-center;
    min-height: calc(100% - 1rem);
}

.modal-content {
  @apply pointer-events-auto relative flex w-full flex-col rounded border bg-white bg-clip-padding outline-0;
}

.modal-backdrop.fade {
  @apply opacity-0;
}
.modal-backdrop.show {
  @apply opacity-50;
}

.modal-header {
    @apply flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-100;
    border-top-left-radius: calc(0.3rem - 1px); 
    border-top-right-radius: calc(0.3rem - 1px); 
  }

  .modal-header .btn-close {
      @apply p-2;
      margin: -0.5rem -0.5rem -0.5rem auto;
  }

  .modal-title {
      @apply mb-0 leading-6;
  }

  .modal-body {
      @apply relative p-4 flex-auto;
  }
  .modal-footer {
      @apply flex flex-wrap flex-shrink-0 items-center justify-end p-3 border-t border-gray-100;
      border-bottom-right-radius: calc(0.3rem - 1px);
      border-bottom-left-radius: calc(0.3rem - 1px);
  }

  .modal-footer > * {
    @apply m-1;
  }

  .modal-scrollbar-measure {
    @apply absolute overflow-scroll;
    top: -9999px;
    width: 50px;
    height: 50px;
  }