.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-primary-500 hover:text-primary-500 hover:underline focus:outline-none;
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

/* dropdown submenu */

.main-nav ul ul {
    @apply hidden absolute bg-white shadow border border-gray-300 px-2 py-4;
    top: 100%;
    left: -24px;
    z-index: 99999;
    width: 180px;
}

.main-nav li {
    position: relative;
}

.main-nav ul li:hover>ul {
    display: block;
}

/* reset prose max width */

.prose {
    max-width: 100%;
}

/* cutom font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.mec-single-event-date,
.mec-single-event-time {
    @apply flex bg-white items-center;
    padding: 10px 14px;
}

.mec-single-event-time {
    margin-bottom: 0;
}

.mec-sl-calendar{
    @apply mr-3;
    color: #ff8031;
    font-weight: 900;
}

.mec-sl-clock {
    @apply mr-3;
    color: #e6006b;
    font-weight: 900;
}

.mec-date, 
.mec-time {
    @apply mr-5 font-semibold text-cool-gray-600;
}

.mec-time-comment {
    @apply text-cool-gray-600;
    top: -5px;
    left: 105px;
    position: absolute;
}

.mec-events-abbr {
    @apply font-semibold;
}

.mec-event-social {
    @apply bg-white border shadow-sm rounded p-6 mt-6 text-center;
}

.mec-social-single.mec-frontbox-title {
    @apply font-semibold text-base mb-6;
}

.mec-links-details ul {
    @apply flex justify-center space-x-6;
}

.mec-event-social-icon a.facebook {
    color: #29428f;
    @apply inline-flex items-center justify-center border rounded-full;
    width: 40px;
    height: 40px;
}

.mec-event-social-icon a.twitter {
    color: #3caafc;
    @apply inline-flex items-center justify-center border rounded-full;
    width: 40px;
    height: 40px;
}

.mec-event-social-icon a.linkedin {
    color: #4e587b;
    @apply inline-flex items-center justify-center border rounded-full;
    width: 40px;
    height: 40px;
}

.mec-event-social-icon a.email {
    color: #ff5f5f;
    @apply inline-flex items-center justify-center border rounded-full;
    width: 40px;
    height: 40px;
}

.mec-single-event .mec-events-meta-group-countdown {
    border-radius: .25rem;
}

.mec-events-meta-group-countdown .countdown-w {
    padding: 1.5rem 0 1.75rem;
    color: #a8a8a8;
    border-radius: .25rem;
}

.mec-events-button {
    font-weight: 500;
    border-radius: 0.25rem;
}

.mec-border-color, .mec-border-color-hover:hover, .mec-wrap .mec-border-color, .mec-wrap .mec-border-color-hover:hover {
    color: #01b9db;
}

.mec-color, .mec-color-before :before, .mec-color-hover:hover, .mec-wrap .mec-color, .mec-wrap .mec-color-before :before, .mec-wrap .mec-color-hover:hover {
    color: #01b9db;
}

.mec-single-event .mec-events-meta-group-booking, .mec-single-event .mec-frontbox {
    border: none;
    padding: 0.25rem 0 0;
    box-shadow: none;
}

.mec-event-meta i:before {
    font-size: 18px;
}

.mec-single-event .mec-event-export-module.mec-frontbox .mec-event-exporting .mec-export-details ul li {
    width: 100%;
    min-height: 40px;
    margin-bottom: 15px;
    text-align: center;
    float: none;
    display: block;
}

.mec-single-event .mec-event-export-module.mec-frontbox .mec-event-exporting .mec-export-details ul li a {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    display: block;
    font-size: 12px;
}

.btn {
    @apply inline-flex items-center justify-center focus:outline-none transition rounded border;
}

.btn-xs {
    @apply px-2 py-1 text-xs;
}

.btn-sm {
    @apply px-2.5 py-1.5 text-sm;
}

.btn-secondary {
    @apply text-primary-300 border-primary-300 bg-white hover:text-primary-500 hover:border-primary-500 hover:shadow-primary focus:text-primary-500 focus:border-primary-500 disabled:border-gray-100 disabled:text-gray-100 disabled:shadow-none;
}

#cookie-law-info-bar {
    border-top: 1px solid #cbd3e9;
}

.cli-tab-footer .wt-cli-privacy-accept-btn {
    background: #320291;
}

/* wp job opening style */

#awsm-application-submit-btn {
    @apply px-3 py-1 text-white focus:outline-none rounded font-medium hover:cursor-pointer;
    background-color: #17A8E3;
}

.single-awsm_job_openings .post-tags-container {
    @apply hidden;
}

.prose .awsm-selectric-scroll  ul > li::before {
    content: none;
}

.awsm-job-specification-term {
    @apply border border-pink-200 bg-pink-100 rounded-full px-2;
}